body {
  background-color: #283618;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;  
}

#Shadow {
  border: 2px solid;
  padding: 10px;
  box-shadow: 5px 10px #FEFAE0;
}

h1 {
  color: #FEFAE0;
  font-size: 36px;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

h2 {
  margin-top: 50px;
  margin-bottom: 10px;
  border-block: 2px solid #FEFAE0;
}

h3 {
  color: #BC6C25;
}

p {
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin: 50px;
  color: #FEFAE0;
}

a {
  color: #606C38;
  font-size: 16px;
  margin: 30px;
}

div {
  border-bottom-style: dotted;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
